.btn-brand{
    background-image: -o-linear-gradient(75deg, #19D3AE, #0fcfec);
    background-color: transparent;
    text-decoration: uppercase;
    font-weight: 600;
}
.text-brand{
    color: #1cc7c1;
}