.make-appointment{
    background-image: url(../../../images/makeAppoint.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px;
    background-position: center center;
    margin-top: 160px;

}
.make-appointment::before{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #3D4458;
    opacity: .9;
    top: 0;
}
.make-appointment img{
    height: 550px;
    transform: translateY(-130px);

}